[submodule "shlr/flatbuffers"]
	path = shlr/flatbuffers
	url = https://github.com/firedancer-io/flatbuffers.git
	branch = v25.9.23-patches
[submodule "shlr/protobuf"]
	path = shlr/protobuf
	url = https://github.com/protocolbuffers/protobuf
	branch = v25.2
