name: Trigger Repo B CI

on:
  push:
    branches:
      - agave-v2.0
jobs:
  kick_solfuzz_ci:
    runs-on: ubuntu-latest
    steps:
      - name: dispatch solfuzz CI
        run: |
          curl -L \
          -X POST \
          https://api.github.com/repos/firedancer-io/solfuzz/dispatches \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          --data '{"event_type": "solfuzz_agave"}'
